# Covid 19 Analysis

## Imports

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import dates
import mplfinance as mpf
%matplotlib inline
import statsmodels.api as sm
import seaborn as sns

import chart_studio.plotly as py
import plotly.express as px
import plotly.graph_objects as go

import cufflinks as cf # Connects Plotly to Pandas
# Makes Plotly work in your Notebook
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)
cf.go_offline()

import requests # Get URL Data 
from bs4 import BeautifulSoup # Manipulates URL Data
import json
from pandas import DataFrame as df

## Grab Data from URL

In [4]:
web_page = requests.get("https://www.worldometers.info/coronavirus/")
soup = BeautifulSoup(web_page.text, 'html.parser') 
print(soup.prettify())

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
 <head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>
   COVID Live - Coronavirus Statistics - Worldometer
  </title>
  <meta content="Live statistics and coronavirus news tracking the number of confirmed cases, recovered patients, tests, and death toll due to the COVID-19 coronavirus from Wuhan, China. Coronavirus counter with new cases, deaths, and number of tests per 1 Million population. Historical data and info. Daily charts, graphs, news and updates" name="description"/>
  <link href="/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <link href="/favicon/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57"/>
  <link href="/favicon/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60"/>
  <link href="/favicon/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/>
  <link href="/favicon/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76"/>
  <link href="/favicon/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/>
  <link href="/favicon/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120"/>
  <link href="/favicon/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144"/>
  <link href="/favicon/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152"/>
  <link href="/favicon/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180"/>
  <link href="/favicon/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png"/>
  <link href="/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
  <link href="/favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png"/>
  <link href="/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
  <link href="/favicon/manifest.json" rel="manifest"/>
  <meta content="#ffffff" name="msapplication-TileColor"/>
  <meta content="/favicon/ms-icon-144x144.png" name="msapplication-TileImage"/>
  <meta content="#ffffff" name="theme-color"/>
  <meta content="http://www.worldometers.info/img/worldometers-fb.jpg" property="og:image">
   <link href="/css/bootstrap.min.css" rel="stylesheet"/>
   <link href="/wm16.css" rel="stylesheet"/>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
   <script src="/js/jquery.min.js">
   </script>
   <script src="/js/bootstrap.min.js">
   </script>
   <script src="/js/ie10-viewport-bug-workaround.js">
   </script>
   <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript">
    </script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" type="text/javascript">
    </script>
    <script class="init" type="text/javascript">
     $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example2').dataTable( {
        "scrollCollapse": true,
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
    </script>
    <script class="init" type="text/javascript">
     $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#table3').dataTable( {
        "scrollCollapse": true,
				 "order": [[ 1, 'desc' ]],
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
    </script>
    <script class="init" type="text/javascript">
     $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example').dataTable( {
        "scrollCollapse": true,
		"searching": false,

		"sDom": '<"top">rt<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
    </script>
    <script class="init" type="text/javascript">
     $(document).ready(function() {
	$('#popbycountry').dataTable();
} );
    </script>
    <script data-cfasync="false" type="text/javascript">
     var freestar = freestar || {};
  freestar.hitTime = Date.now();
  freestar.queue = freestar.queue || [];
  freestar.config = freestar.config || {};
  freestar.debug = window.location.search.indexOf('fsdebug') === -1 ? false : true;
  freestar.config.enabled_slots = [];
  !function(a,b){var c=b.getElementsByTagName("script")[0],d=b.createElement("script"),e="https://a.pub.network/worldometers-info";e+=freestar.debug?"/qa/pubfig.min.js":"/pubfig.min.js",d.async=!0,d.src=e,c.parentNode.insertBefore(d,c)}(window,document);
    </script>
   </link>
  </meta>
 </head>
 <body>
  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1438574-2', 'auto');
  ga('send', 'pageview');
  </script>
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-1438574-30">
  </script>
  <script>
   window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1438574-30');
  </script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" rel="stylesheet" type="text/css">
   <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js">
   </script>
   <script>
    window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#efefef",
      "text": "#404040"
    },
    "button": {
      "background": "#8ec760",
      "text": "#ffffff"
    }
  },
  "theme": "classic",
  "content": {
    "href": "http://www.worldometers.info/policy/"
  }
})});
   </script>
   <style type="text/css">
    .style1 {
        color: #666666
    }
   </style>
   <div class="navbar navbar-default">
    <div class="container">
     <div class="navbar-header">
      <div class="logo">
       <a class="navbar-brand" href="/">
        <img border="0" src="/img/worldometers-logo.gif" title="Worldometer"/>
       </a>
      </div>
      <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
       <span class="icon-bar">
       </span>
       <span class="icon-bar">
       </span>
       <span class="icon-bar">
       </span>
      </button>
     </div>
     <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
       <li>
        <a href="/coronavirus/">
         <span style="color:#FF9900; font-weight:bold">
          Coronavirus
         </span>
        </a>
       </li>
       <li>
        <a href="/population/">
         Population
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <div class="container">
    <div class="row">
     <div style="text-align:left; margin-bottom:10px">
      <script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
      </script>
      <ins class="adsbygoogle" data-ad-client="ca-pub-3701697624350410" data-ad-slot="3287840995" style="display:inline-block;width:970px;height:90px">
      </ins>
      <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
     </div>
    </div>
    <div class="row">
     <div class="col-md-8">
      <div class="content-inner">
       <style>
        .number-table {
        font-size: 20px;
        font-weight: bold
    }

    .number-table-main {
        font-size: 24px;
        font-weight: bold
    }
       </style>
       <script src="/js/highcharts.js">
       </script>
       <style type="text/css">
        .source {}

    .style2 {
        color: #FF0000
    }

    .style4 {
        color: #FF0000;
        font-weight: bold;
    }

    .style6 {
        font-size: 12px;
        color: #bbb;
        font-weight: bold;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source11 {
        font-size: 12px;
        color: #bbb;
    }

    .source111 {}

    .source1111 {
        font-size: 12px;
        color: #bbb;
    }


    .new_badge {

        position: absolute;
        font-size: 12px;
        top: -5px;
        right: -26px;
        background-color: #8ACA2B;
        color: white;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 4px;
        ;
    }

    .new_badge_link {

        background-color: #8ACA2B;
        color: white !important;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 4px;
        ;
    }
       </style>
       <div class="label-counter" id="page-top">
        COVID-19 Coronavirus Pandemic
       </div>
       <div style="font-size:13px; color:#999; margin-top:5px; text-align:center">
        Last updated: April 15, 2022, 15:05 GMT
       </div>
       <div style="margin-top:20px; text-align:center; font-size:14px">
        <a class="new_badge_link" href="/coronavirus/weekly-trends/" style="display: inline-block; position:relative;">
         Weekly Trends
        </a>
        -
        <a href="/coronavirus/worldwide-graphs/">
         Graphs
        </a>
        -
        <a href="#countries">
         Countries
        </a>
        -
        <a href="#news">
         News
        </a>
       </div>
       <div id="maincounter-wrap" style="margin-top:15px">
        <h1>
         Coronavirus Cases:
        </h1>
        <div class="maincounter-number">
         <span style="color:#aaa">
          503,262,202
         </span>
        </div>
       </div>
       <div style="text-align:center ">
        <a href="#countries">
         view by country
        </a>
       </div>
       <div id="maincounter-wrap" style="margin-top:15px">
        <h1>
         Deaths:
        </h1>
        <div class="maincounter-number">
         <span>
          6,218,742
         </span>
        </div>
       </div>
       <div id="maincounter-wrap" style="margin-top:15px;">
        <h1>
         Recovered:
        </h1>
        <div class="maincounter-number" style="color:#8ACA2B ">
         <span>
          453,647,459
         </span>
        </div>
       </div>
       <div style="margin-top:50px;">
       </div>
       <style>
        .panel_flip {
        position: relative;
        height: 100%;
    }

    .panel_front {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_back {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_flip.flip .panel_front {

        z-index: 900;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }

    .panel_flip.flip .panel_back {

        z-index: 1000;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
    }

    .collapse_button {

        position: absolute;
        right: 10px;
        pointer-events: none;
        color: #70757a !important;
        height: 24px;
        width: 24px;
        line-height: 24px;
    }

    .collapse_button svg {
        display: block;
        height: 100%;
        width: 100%;
        fill: currentColor;
    }

    .rotate_180 {

        transform: rotate(180deg);
    }

    .panel_clickable {

        cursor: pointer;
    }
       </style>
       <script>
        var do_not_slide = false;
    $(function() {

        $('.flip_cases_front').on('click', function() {


            $(this).parent().parent().addClass('flip');
        });

        $('.flip_cases_back').on('click', function() {


            $(this).parent().parent().removeClass('flip');
        });


        $('.collapse').on('show.bs.collapse', function(el) {


            var collapse_button = $(el.target).parent().find('.collapse_button');
            collapse_button.addClass('rotate_180');

            if (do_not_slide) {

                return;
            }

            do_not_slide = true;
            if ($(el.target).attr('id') == 'panel_active') {

                $('#panel_closed').collapse('show');
            } else {

                $('#panel_active').collapse('show');
            }

            do_not_slide = false;
        });

        $('.collapse').on('hide.bs.collapse', function(el) {

            var collapse_button = $(el.target).parent().find('.collapse_button');
            collapse_button.removeClass('rotate_180');


            if (do_not_slide) {

                return;
            }


            do_not_slide = true;
            if ($(el.target).attr('id') == 'panel_active') {

                $('#panel_closed').collapse('hide');
            } else {

                $('#panel_active').collapse('hide');
            }

            do_not_slide = false;

        });



    });
       </script>
       <div class="col-md-6">
        <div class="panel panel-default">
         <div aria-controls="panel_active" aria-expanded="false" class="panel_clickable panel-heading" data-toggle="collapse" href="#panel_active" style="text-align:center;position:relative;">
          <span class="panel-title" style="font-size:18px; text-transform:uppercase; font-weight:100">
           Active Cases
          </span>
          <span class="collapse_button">
           <svg focusable="false" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z">
            </path>
           </svg>
          </span>
         </div>
         <div class="collapse" id="panel_active">
          <div class="panel-body" style="text-align:center;min-height:220px;">
           <div class="panel_flip">
            <div class="panel_front" style="width:100%;height:100%;">
             <div class="number-table-main">
              43,396,001
             </div>
             <div style="font-size:13.5px">
              Currently Infected Patients
             </div>
             <div style="padding-top:20px;position:relative;text-align:center; ">
              <div style="float:left; text-align:center">
               <span class="number-table" style="color:#8080FF">
                43,353,186
               </span>
               (
               <strong>
                99.9
               </strong>
               %)
               <div style="font-size:13px">
                in Mild Condition
               </div>
               <br/>
              </div>
              <div style="float:right; text-align:center">
               <span class="number-table" style="color:red ">
                42,815
               </span>
               (
               <strong>
                0.1
               </strong>
               %)
               <div style="font-size:13px">
                Serious or Critical
               </div>
               <br/>
              </div>
             </div>
             <a class="flip_cases_front" href="javascript: void(0);" style="clear: both;display: block;padding-top:20px;width:100%;">
              Show Graph
             </a>
            </div>
            <div class="panel_back" style="width:100%;height:100%;">
             <div id="total-currently-infected-linear">
             </div>
             <script type="text/javascript">
              Highcharts.setOptions({
        lang: {
            thousandsSep: ','
        }
    });

    var y_labels = ['0', '20,000', '40,000', '60,000', '140', '180', '200', '240'];
    Highcharts.chart('total-currently-infected-linear', {


        chart: {
            type: 'line',
            height: (9 / 16 * 100) + '%'
        },

        title: {
            text: null

        },

        /*subtitle: {
            text: '(Number of Infected People)'
        },*/

        xAxis: {

## Basic Covid Data

In [11]:
covid_data = soup.find_all("div", class_ = "maincounter-number")
print("Coronavirus Cases: ", covid_data[0].text.strip())
print("Coronavirus Deaths: ", covid_data[1].text.strip())
print("Coronavirus Recoveries: ", covid_data[2].text.strip())
print()
data = soup.find_all("script", {"type": "text/javascript"})
# for content in data:
#     print(content)

Coronavirus Cases:  503,262,202
Coronavirus Deaths:  6,218,742
Coronavirus Recoveries:  453,647,459

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
<script class="init" type="text/javascript">
		$.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example2').dataTable( {
        "scrollCollapse": true,
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
	</script>
<script class="init" type="text/javascript">
		$.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#table3').dataTable( {
        "scrollCollapse": true,
				 "order": [[ 1, 'desc' ]],
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
	</script>
<script class="init" type="text/javascript">
		$.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example').dataTable( {
        "scrollCollapse": true,
		"searching": false,

		"sDom": '<"top">rt<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
	</script>
<script class="init" type="text/javascript">
$(document).ready(function() {
	$('#popbycountry').dataTable();
} );
	</script>
<script data-cfasync="false" type="text/javascript">
  var freestar = freestar || {};
  freestar.hitTime = Date.now();
  freestar.queue = freestar.queue || [];
  freestar.config = freestar.config || {};
  freestar.debug = window.location.search.indexOf('fsdebug') === -1 ? false : true;
  freestar.config.enabled_slots = [];
  !function(a,b){var c=b.getElementsByTagName("script")[0],d=b.createElement("script"),e="https://a.pub.network/worldometers-info";e+=freestar.debug?"/qa/pubfig.min.js":"/pubfig.min.js",d.async=!0,d.src=e,c.parentNode.insertBefore(d,c)}(window,document);
</script>
<script type="text/javascript">
    Highcharts.setOptions({
        lang: {
            thousandsSep: ','
        }
    });

    var y_labels = ['0', '20,000', '40,000', '60,000', '140', '180', '200', '240'];
    Highcharts.chart('total-currently-infected-linear', {


        chart: {
            type: 'line',
            height: (9 / 16 * 100) + '%'
        },

        title: {
            text: null

        },

        /*subtitle: {
            text: '(Number of Infected People)'
        },*/

        xAxis: {
            categories: ["Jan 22, 2020","Jan 23, 2020","Jan 24, 2020","Jan 25, 2020","Jan 26, 2020","Jan 27, 2020","Jan 28, 2020","Jan 29, 2020","Jan 30, 2020","Jan 31, 2020","Feb 01, 2020","Feb 02, 2020","Feb 03, 2020","Feb 04, 2020","Feb 05, 2020","Feb 06, 2020","Feb 07, 2020","Feb 08, 2020","Feb 09, 2020","Feb 10, 2020","Feb 11, 2020","Feb 12, 2020","Feb 13, 2020","Feb 14, 2020","Feb 15, 2020","Feb 16, 2020","Feb 17, 2020","Feb 18, 2020","Feb 19, 2020","Feb 20, 2020","Feb 21, 2020","Feb 22, 2020","Feb 23, 2020","Feb 24, 2020","Feb 25, 2020","Feb 26, 2020","Feb 27, 2020","Feb 28, 2020","Feb 29, 2020","Mar 01, 2020","Mar 02, 2020","Mar 03, 2020","Mar 04, 2020","Mar 05, 2020","Mar 06, 2020","Mar 07, 2020","Mar 08, 2020","Mar 09, 2020","Mar 10, 2020","Mar 11, 2020","Mar 12, 2020","Mar 13, 2020","Mar 14, 2020","Mar 15, 2020","Mar 16, 2020","Mar 17, 2020","Mar 18, 2020","Mar 19, 2020","Mar 20, 2020","Mar 21, 2020","Mar 22, 2020","Mar 23, 2020","Mar 24, 2020","Mar 25, 2020","Mar 26, 2020","Mar 27, 2020","Mar 28, 2020","Mar 29, 2020","Mar 30, 2020","Mar 31, 2020","Apr 01, 2020","Apr 02, 2020","Apr 03, 2020","Apr 04, 2020","Apr 05, 2020","Apr 06, 2020","Apr 07, 2020","Apr 08, 2020","Apr 09, 2020","Apr 10, 2020","Apr 11, 2020","Apr 12, 2020","Apr 13, 2020","Apr 14, 2020","Apr 15, 2020","Apr 16, 2020","Apr 17, 2020","Apr 18, 2020","Apr 19, 2020","Apr 20, 2020","Apr 21, 2020","Apr 22, 2020","Apr 23, 2020","Apr 24, 2020","Apr 25, 2020","Apr 26, 2020","Apr 27, 2020","Apr 28, 2020","Apr 29, 2020","Apr 30, 2020","May 01, 2020","May 02, 2020","May 03, 2020","May 04, 2020","May 05, 2020","May 06, 2020","May 07, 2020","May 08, 2020","May 09, 2020","May 10, 2020","May 11, 2020","May 12, 2020","May 13, 2020","May 14, 2020","May 15, 2020","May 16, 2020","May 17, 2020","May 18, 2020","May 19, 2020","May 20, 2020","May 21, 2020","May 22, 2020","May 23, 2020","May 24, 2020","May 25, 2020","May 26, 2020","May 27, 2020","May 28, 2020","May 29, 2020","May 30, 2020","May 31, 2020","Jun 01, 2020","Jun 02, 2020","Jun 03, 2020","Jun 04, 2020","Jun 05, 2020","Jun 06, 2020","Jun 07, 2020","Jun 08, 2020","Jun 09, 2020","Jun 10, 2020","Jun 11, 2020","Jun 12, 2020","Jun 13, 2020","Jun 14, 2020","Jun 15, 2020","Jun 16, 2020","Jun 17, 2020","Jun 18, 2020","Jun 19, 2020","Jun 20, 2020","Jun 21, 2020","Jun 22, 2020","Jun 23, 2020","Jun 24, 2020","Jun 25, 2020","Jun 26, 2020","Jun 27, 2020","Jun 28, 2020","Jun 29, 2020","Jun 30, 2020","Jul 01, 2020","Jul 02, 2020","Jul 03, 2020","Jul 04, 2020","Jul 05, 2020","Jul 06, 2020","Jul 07, 2020","Jul 08, 2020","Jul 09, 2020","Jul 10, 2020","Jul 11, 2020","Jul 12, 2020","Jul 13, 2020","Jul 14, 2020","Jul 15, 2020","Jul 16, 2020","Jul 17, 2020","Jul 18, 2020","Jul 19, 2020","Jul 20, 2020","Jul 21, 2020","Jul 22, 2020","Jul 23, 2020","Jul 24, 2020","Jul 25, 2020","Jul 26, 2020","Jul 27, 2020","Jul 28, 2020","Jul 29, 2020","Jul 30, 2020","Jul 31, 2020","Aug 01, 2020","Aug 02, 2020","Aug 03, 2020","Aug 04, 2020","Aug 05, 2020","Aug 06, 2020","Aug 07, 2020","Aug 08, 2020","Aug 09, 2020","Aug 10, 2020","Aug 11, 2020","Aug 12, 2020","Aug 13, 2020","Aug 14, 2020","Aug 15, 2020","Aug 16, 2020","Aug 17, 2020","Aug 18, 2020","Aug 19, 2020","Aug 20, 2020","Aug 21, 2020","Aug 22, 2020","Aug 23, 2020","Aug 24, 2020","Aug 25, 2020","Aug 26, 2020","Aug 27, 2020","Aug 28, 2020","Aug 29, 2020","Aug 30, 2020","Aug 31, 2020","Sep 01, 2020","Sep 02, 2020","Sep 03, 2020","Sep 04, 2020","Sep 05, 2020","Sep 06, 2020","Sep 07, 2020","Sep 08, 2020","Sep 09, 2020","Sep 10, 2020","Sep 11, 2020","Sep 12, 2020","Sep 13, 2020","Sep 14, 2020","Sep 15, 2020","Sep 16, 2020","Sep 17, 2020","Sep 18, 2020","Sep 19, 2020","Sep 20, 2020","Sep 21, 2020","Sep 22, 2020","Sep 23, 2020","Sep 24, 2020","Sep 25, 2020","Sep 26, 2020","Sep 27, 2020","Sep 28, 2020","Sep 29, 2020","Sep 30, 2020","Oct 01, 2020","Oct 02, 2020","Oct 03, 2020","Oct 04, 2020","Oct 05, 2020","Oct 06, 2020","Oct 07, 2020","Oct 08, 2020","Oct 09, 2020","Oct 10, 2020","Oct 11, 2020","Oct 12, 2020","Oct 13, 2020","Oct 14, 2020","Oct 15, 2020","Oct 16, 2020","Oct 17, 2020","Oct 18, 2020","Oct 19, 2020","Oct 20, 2020","Oct 21, 2020","Oct 22, 2020","Oct 23, 2020","Oct 24, 2020","Oct 25, 2020","Oct 26, 2020","Oct 27, 2020","Oct 28, 2020","Oct 29, 2020","Oct 30, 2020","Oct 31, 2020","Nov 01, 2020","Nov 02, 2020","Nov 03, 2020","Nov 04, 2020","Nov 05, 2020","Nov 06, 2020","Nov 07, 2020","Nov 08, 2020","Nov 09, 2020","Nov 10, 2020","Nov 11, 2020","Nov 12, 2020","Nov 13, 2020","Nov 14, 2020","Nov 15, 2020","Nov 16, 2020","Nov 17, 2020","Nov 18, 2020","Nov 19, 2020","Nov 20, 2020","Nov 21, 2020","Nov 22, 2020","Nov 23, 2020","Nov 24, 2020","Nov 25, 2020","Nov 26, 2020","Nov 27, 2020","Nov 28, 2020","Nov 29, 2020","Nov 30, 2020","Dec 01, 2020","Dec 02, 2020","Dec 03, 2020","Dec 04, 2020","Dec 05, 2020","Dec 06, 2020","Dec 07, 2020","Dec 08, 2020","Dec 09, 2020","Dec 10, 2020","Dec 11, 2020","Dec 12, 2020","Dec 13, 2020","Dec 14, 2020","Dec 15, 2020","Dec 16, 2020","Dec 17, 2020","Dec 18, 2020","Dec 19, 2020","Dec 20, 2020","Dec 21, 2020","Dec 22, 2020","Dec 23, 2020","Dec 24, 2020","Dec 25, 2020","Dec 26, 2020","Dec 27, 2020","Dec 28, 2020","Dec 29, 2020","Dec 30, 2020","Dec 31, 2020","Jan 01, 2021","Jan 02, 2021","Jan 03, 2021","Jan 04, 2021","Jan 05, 2021","Jan 06, 2021","Jan 07, 2021","Jan 08, 2021","Jan 09, 2021","Jan 10, 2021","Jan 11, 2021","Jan 12, 2021","Jan 13, 2021","Jan 14, 2021","Jan 15, 2021","Jan 16, 2021","Jan 17, 2021","Jan 18, 2021","Jan 19, 2021","Jan 20, 2021","Jan 21, 2021","Jan 22, 2021","Jan 23, 2021","Jan 24, 2021","Jan 25, 2021","Jan 26, 2021","Jan 27, 2021","Jan 28, 2021","Jan 29, 2021","Jan 30, 2021","Jan 31, 2021","Feb 01, 2021","Feb 02, 2021","Feb 03, 2021","Feb 04, 2021","Feb 05, 2021","Feb 06, 2021","Feb 07, 2021","Feb 08, 2021","Feb 09, 2021","Feb 10, 2021","Feb 11, 2021","Feb 12, 2021","Feb 13, 2021","Feb 14, 2021","Feb 15, 2021","Feb 16, 2021","Feb 17, 2021","Feb 18, 2021","Feb 19, 2021","Feb 20, 2021","Feb 21, 2021","Feb 22, 2021","Feb 23, 2021","Feb 24, 2021","Feb 25, 2021","Feb 26, 2021","Feb 27, 2021","Feb 28, 2021","Mar 01, 2021","Mar 02, 2021","Mar 03, 2021","Mar 04, 2021","Mar 05, 2021","Mar 06, 2021","Mar 07, 2021","Mar 08, 2021","Mar 09, 2021","Mar 10, 2021","Mar 11, 2021","Mar 12, 2021","Mar 13, 2021","Mar 14, 2021","Mar 15, 2021","Mar 16, 2021","Mar 17, 2021","Mar 18, 2021","Mar 19, 2021","Mar 20, 2021","Mar 21, 2021","Mar 22, 2021","Mar 23, 2021","Mar 24, 2021","Mar 25, 2021","Mar 26, 2021","Mar 27, 2021","Mar 28, 2021","Mar 29, 2021","Mar 30, 2021","Mar 31, 2021","Apr 01, 2021","Apr 02, 2021","Apr 03, 2021","Apr 04, 2021","Apr 05, 2021","Apr 06, 2021","Apr 07, 2021","Apr 08, 2021","Apr 09, 2021","Apr 10, 2021","Apr 11, 2021","Apr 12, 2021","Apr 13, 2021","Apr 14, 2021","Apr 15, 2021","Apr 16, 2021","Apr 17, 2021","Apr 18, 2021","Apr 19, 2021","Apr 20, 2021","Apr 21, 2021","Apr 22, 2021","Apr 23, 2021","Apr 24, 2021","Apr 25, 2021","Apr 26, 2021","Apr 27, 2021","Apr 28, 2021","Apr 29, 2021","Apr 30, 2021","May 01, 2021","May 02, 2021","May 03, 2021","May 04, 2021","May 05, 2021","May 06, 2021","May 07, 2021","May 08, 2021","May 09, 2021","May 10, 2021","May 11, 2021","May 12, 2021","May 13, 2021","May 14, 2021","May 15, 2021","May 16, 2021","May 17, 2021","May 18, 2021","May 19, 2021","May 20, 2021","May 21, 2021","May 22, 2021","May 23, 2021","May 24, 2021","May 25, 2021","May 26, 2021","May 27, 2021","May 28, 2021","May 29, 2021","May 30, 2021","May 31, 2021","Jun 01, 2021","Jun 02, 2021","Jun 03, 2021","Jun 04, 2021","Jun 05, 2021","Jun 06, 2021","Jun 07, 2021","Jun 08, 2021","Jun 09, 2021","Jun 10, 2021","Jun 11, 2021","Jun 12, 2021","Jun 13, 2021","Jun 14, 2021","Jun 15, 2021","Jun 16, 2021","Jun 17, 2021","Jun 18, 2021","Jun 19, 2021","Jun 20, 2021","Jun 21, 2021","Jun 22, 2021","Jun 23, 2021","Jun 24, 2021","Jun 25, 2021","Jun 26, 2021","Jun 27, 2021","Jun 28, 2021","Jun 29, 2021","Jun 30, 2021","Jul 01, 2021","Jul 02, 2021","Jul 03, 2021","Jul 04, 2021","Jul 05, 2021","Jul 06, 2021","Jul 07, 2021","Jul 08, 2021","Jul 09, 2021","Jul 10, 2021","Jul 11, 2021","Jul 12, 2021","Jul 13, 2021","Jul 14, 2021","Jul 15, 2021","Jul 16, 2021","Jul 17, 2021","Jul 18, 2021","Jul 19, 2021","Jul 20, 2021","Jul 21, 2021","Jul 22, 2021","Jul 23, 2021","Jul 24, 2021","Jul 25, 2021","Jul 26, 2021","Jul 27, 2021","Jul 28, 2021","Jul 29, 2021","Jul 30, 2021","Jul 31, 2021","Aug 01, 2021","Aug 02, 2021","Aug 03, 2021","Aug 04, 2021","Aug 05, 2021","Aug 06, 2021","Aug 07, 2021","Aug 08, 2021","Aug 09, 2021","Aug 10, 2021","Aug 11, 2021","Aug 12, 2021","Aug 13, 2021","Aug 14, 2021","Aug 15, 2021","Aug 16, 2021","Aug 17, 2021","Aug 18, 2021","Aug 19, 2021","Aug 20, 2021","Aug 21, 2021","Aug 22, 2021","Aug 23, 2021","Aug 24, 2021","Aug 25, 2021","Aug 26, 2021","Aug 27, 2021","Aug 28, 2021","Aug 29, 2021","Aug 30, 2021","Aug 31, 2021","Sep 01, 2021","Sep 02, 2021","Sep 03, 2021","Sep 04, 2021","Sep 05, 2021","Sep 06, 2021","Sep 07, 2021","Sep 08, 2021","Sep 09, 2021","Sep 10, 2021","Sep 11, 2021","Sep 12, 2021","Sep 13, 2021","Sep 14, 2021","Sep 15, 2021","Sep 16, 2021","Sep 17, 2021","Sep 18, 2021","Sep 19, 2021","Sep 20, 2021","Sep 21, 2021","Sep 22, 2021","Sep 23, 2021","Sep 24, 2021","Sep 25, 2021","Sep 26, 2021","Sep 27, 2021","Sep 28, 2021","Sep 29, 2021","Sep 30, 2021","Oct 01, 2021","Oct 02, 2021","Oct 03, 2021","Oct 04, 2021","Oct 05, 2021","Oct 06, 2021","Oct 07, 2021","Oct 08, 2021","Oct 09, 2021","Oct 10, 2021","Oct 11, 2021","Oct 12, 2021","Oct 13, 2021","Oct 14, 2021","Oct 15, 2021","Oct 16, 2021","Oct 17, 2021","Oct 18, 2021","Oct 19, 2021","Oct 20, 2021","Oct 21, 2021","Oct 22, 2021","Oct 23, 2021","Oct 24, 2021","Oct 25, 2021","Oct 26, 2021","Oct 27, 2021","Oct 28, 2021","Oct 29, 2021","Oct 30, 2021","Oct 31, 2021","Nov 01, 2021","Nov 02, 2021","Nov 03, 2021","Nov 04, 2021","Nov 05, 2021","Nov 06, 2021","Nov 07, 2021","Nov 08, 2021","Nov 09, 2021","Nov 10, 2021","Nov 11, 2021","Nov 12, 2021","Nov 13, 2021","Nov 14, 2021","Nov 15, 2021","Nov 16, 2021","Nov 17, 2021","Nov 18, 2021","Nov 19, 2021","Nov 20, 2021","Nov 21, 2021","Nov 22, 2021","Nov 23, 2021","Nov 24, 2021","Nov 25, 2021","Nov 26, 2021","Nov 27, 2021","Nov 28, 2021","Nov 29, 2021","Nov 30, 2021","Dec 01, 2021","Dec 02, 2021","Dec 03, 2021","Dec 04, 2021","Dec 05, 2021","Dec 06, 2021","Dec 07, 2021","Dec 08, 2021","Dec 09, 2021","Dec 10, 2021","Dec 11, 2021","Dec 12, 2021","Dec 13, 2021","Dec 14, 2021","Dec 15, 2021","Dec 16, 2021","Dec 17, 2021","Dec 18, 2021","Dec 19, 2021","Dec 20, 2021","Dec 21, 2021","Dec 22, 2021","Dec 23, 2021","Dec 24, 2021","Dec 25, 2021","Dec 26, 2021","Dec 27, 2021","Dec 28, 2021","Dec 29, 2021","Dec 30, 2021","Dec 31, 2021","Jan 01, 2022","Jan 02, 2022","Jan 03, 2022","Jan 04, 2022","Jan 05, 2022","Jan 06, 2022","Jan 07, 2022","Jan 08, 2022","Jan 09, 2022","Jan 10, 2022","Jan 11, 2022","Jan 12, 2022","Jan 13, 2022","Jan 14, 2022","Jan 15, 2022","Jan 16, 2022","Jan 17, 2022","Jan 18, 2022","Jan 19, 2022","Jan 20, 2022","Jan 21, 2022","Jan 22, 2022","Jan 23, 2022","Jan 24, 2022","Jan 25, 2022","Jan 26, 2022","Jan 27, 2022","Jan 28, 2022","Jan 29, 2022","Jan 30, 2022","Jan 31, 2022","Feb 01, 2022","Feb 02, 2022","Feb 03, 2022","Feb 04, 2022","Feb 05, 2022","Feb 06, 2022","Feb 07, 2022","Feb 08, 2022","Feb 09, 2022","Feb 10, 2022","Feb 11, 2022","Feb 12, 2022","Feb 13, 2022","Feb 14, 2022","Feb 15, 2022","Feb 16, 2022","Feb 17, 2022","Feb 18, 2022","Feb 19, 2022","Feb 20, 2022","Feb 21, 2022","Feb 22, 2022","Feb 23, 2022","Feb 24, 2022","Feb 25, 2022","Feb 26, 2022","Feb 27, 2022","Feb 28, 2022","Mar 01, 2022","Mar 02, 2022","Mar 03, 2022","Mar 04, 2022","Mar 05, 2022","Mar 06, 2022","Mar 07, 2022","Mar 08, 2022","Mar 09, 2022","Mar 10, 2022","Mar 11, 2022","Mar 12, 2022","Mar 13, 2022","Mar 14, 2022","Mar 15, 2022","Mar 16, 2022","Mar 17, 2022","Mar 18, 2022","Mar 19, 2022","Mar 20, 2022","Mar 21, 2022","Mar 22, 2022","Mar 23, 2022","Mar 24, 2022","Mar 25, 2022","Mar 26, 2022","Mar 27, 2022","Mar 28, 2022","Mar 29, 2022","Mar 30, 2022","Mar 31, 2022","Apr 01, 2022","Apr 02, 2022","Apr 03, 2022","Apr 04, 2022","Apr 05, 2022","Apr 06, 2022","Apr 07, 2022","Apr 08, 2022","Apr 09, 2022","Apr 10, 2022","Apr 11, 2022","Apr 12, 2022","Apr 13, 2022","Apr 14, 2022"]
        },

        yAxis: {
            title: {
                text: 'Currently Infected',
                enabled: false

            }
            /*tickInterval: 20000,*/

            /*categories: [0,50000],
            labels: {

                format: "{value:,.%0f}"
            }*/
            /*labels: {
                step: 15
            }*/

        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            enabled: false
        },

        credits: {
            enabled: false
        },
        plotOptions: {
            line: {
                marker: {
                    enabled: false
                }
            }
        },


        series: [{
            name: 'Currently Infected',
            color: '#00DDDD',
            lineWidth: 5,

## Cleaning Up with Regex